# Ensure the lockfile includes binaries for both local development (Windows) and deployment (Linux)
supportedArchitectures[]=linux
supportedArchitectures[]=win32
supportedArchitectures[]=x64
supportedArchitectures[]=arm64
